.header {
  width: 200px;
  height: 200px;
  background-color: purple;
}
.header a {
  color: red;
}
.header a:hover {
  color: blue;
}
.nav .logo {
  color: green;
}
.nav .logo::before {
  content: "";
}
